.toolbar {
    --background: #ffc409;
    height: 200px;
  }
  .toolbarText {
    color: white;
    font-family: "Courier";
    font-size: x-large;
  }
  
  .card {
    height: 100px;
    text-align: center;
    padding: 1rem;
  }
  ion-toggle {
    width: 25%;
    height: 25px;
    --background: rgb(121, 111, 111);
    --background-checked: rgb(121, 111, 111);
  
    --handle-background: #ffc409;
    --handle-background-checked: #ffc409;
  }
  