<h1 style="text-align: center;">Result</h1>
<ion-list>
    <ion-item>
        <ion-label>
            Power : xx V
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-label>
            Cable BPC : AI
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-label>
            Length : 27 m
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-label>
            Placement Info
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-label>
            Selected Cable 16 mm
        </ion-label>
    </ion-item>
</ion-list>