<ion-content [fullscreen]="true" mode="ios">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        mode="md"
        color="light"
      ></ion-back-button>
    </ion-buttons>

    <ion-title size="large" slot="end">
      <span class="toolbarText">PLACEMENT</span>
    </ion-title>
  </ion-toolbar>

  <ion-label class="head"> SELECT FROM </ion-label>
  <ion-list style="margin-top: 20%">
    <ion-item class="ps" *ngFor="let n of data" (click)="gotoLayings(n)">
      <ion-label> {{n.name}} </ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
