<ion-content [fullscreen]="true" mode="ios">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        mode="md"
        color="light"
      ></ion-back-button>
    </ion-buttons>

    <ion-title size="large" slot="end">
      <span class="toolbarText">PLACEMENT</span>
    </ion-title>
  </ion-toolbar>

  <ion-label class="head">
    SELECT FROM
  </ion-label>
  <ion-list style="margin-top: 20%;">
    <ion-item (click)="gotoLayings()">
      <ion-label>
        Åtkomlig i hålrum i byggnad
      </ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item (click)="gotoLayings()">
      <ion-label>
        Inte åtkomlig i hålrum i byggnad
      </ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item (click)="gotoLayings()">
      <ion-label>
        I kabelkanal
      </ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item (click)="gotoLayings()">
      <ion-label>
        I mark
      </ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item (click)="gotoLayings()">
      <ion-label>
        Dolt i byggnadsdel
      </ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item (click)="gotoLayings()">
      <ion-label>
        Öppet på byggnad
      </ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item (click)="gotoLayings()">
      <ion-label>
        Fritt i luft
      </ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
