.toolbar {
  --background: #ffc409;
  // --background: url(../../assets/bg2.png);
  // --background-repeat: no-repeat;
  // --background-size: cover;
  // --background-position:center;
  height: 200px;
}
.toolbarText {
  color: white;
  font-family: 'Courier';
  font-size: x-large;
  font-weight: bold;
}

.card {
  height: 100px;
  text-align: center;
  padding:1rem;
}

.img{
  max-width: 50px;
  max-height: 50px;
  padding:10%;
}