.toolbar {
  --background: #ffc409;
  // --background: url(../../assets/4009040.jpg);
  // --background-repeat: no-repeat;
  // --background-size: cover;
  // --background-position:center;
  height: 200px;
}
.toolbarText {
  color: white;
  font-family: 'Courier';
  font-size: x-large;
}

.card {
  height: 100px;
  text-align: center;
  padding:1rem;
}
