<ion-toolbar class="toolbar">
  <ion-title size="large">
    <span class="toolbarText">INFO TEXT</span>
  </ion-title>
</ion-toolbar>

<ion-content [fullscreen]="true" mode="ios">
  <ion-card (click)="gotoCable()" class="card" mode="ios">
    <ion-card-content>
      <ion-row>
        <ion-col size="2">
          <img class="img" src="../../assets/Image2.png"/>
        </ion-col>
        <ion-col size="10">
          Select Cable
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="gotoLoad()" class="card" mode="ios">
    <ion-card-content>
      <ion-row>
        <ion-col size="2">
          <img class="img" src="../../assets/Image2.png"/>
        </ion-col>
        <ion-col size="10">
          Get Load
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="gotoHistory()" class="card" mode="ios">
    <ion-card-content>
      <ion-row>
        <ion-col size="2">
          <img class="img" src="../../assets/Image2.png"/>
        </ion-col>
        <ion-col size="10">
          History
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
